# port
PORT=8888

# 
NODE_ENV=developer

# database
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASS=123456
DB_NAME=teso_project_first

# jwt
JWT_SECRET_KEY=name_key
JWT_RESET_KEY=name_key

# auth 
TIME_EPIRE_TOKEN_ACCESS_LOGIN=time
TIME_EPIRE_TOKEN_REFRESH_PASSWORD=time

# role
ROLE_USER_CODE=USER
ROLE_ADMIN_CODE=ADMIN
